/* Notes 
1 em = 16px default browser style
1 em = base value (16px) * number (1) = 16px
2 em = base value (16px) * number (2) = 32px
2 em = base value (10px) * number (2) = 20px */

/* em is used when you want the size of something to depend on the current font size */

/* Notes
rem - RELATIVE, depends on root
1 rem = base value (16px) * number (1)
*/

/* Notes
VIEWPORT UNITS
vh - height - percent of the screen,
vw - width - percent of the screen */

/* Notes
Default Browser Styles and Google Chrome Dev Tools */

.hero {
  background: green;
  height: 100vh;
  width: 100vw;
}

.about {
  background-color: blue;
  height: 43vh;
  width: 54vw;
}
